.kefu {
    ul {
        margin: 10px 15px 0 15px;
        li {
            height: 60px;
            padding: 5px;
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            border-radius: 5px;
            background: #fff;
            .li-left {
                display: flex;
                img {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                }
                p {
                    margin-left: 22px;
                    font-size: 16px;
                    color: #333;
                    line-height: 30px;
                }
            }
            .call-btn {
                width: 80px;
                height: 30px;
                margin-top: 10px;
                text-align: center;
                border-radius: 4px;
                background: rgb(230, 148, 26);
                a {
                    font-size: 13px;
                    color: #fff;
                    line-height: 30px;
                    text-decoration: none;
                }
            }
        }
    }
}