.red-bag-can {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 50;
    background: rgba(0, 0, 0, .4);
    .real-red-bag {
        width: 309px;
        height: 459px;
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background: url("../images/hongbao/hongbao.png");
        .close-tag {
            width: 19px;
            height: 19px;
            position: absolute;
            top: 15px;
            right: 15px;
            background: url("../images/hongbao/closered.png")
        }
        .red-avatar {
            width: 80px;
            height: 80px;
            position: absolute;
            top: 65px;
            left: 50%;
            overflow: hidden;
            -webkit-transform: translate(-50%, 0%);
            -moz-transform: translate(-50%, 0%);
            -ms-transform: translate(-50%, 0%);
            -o-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
            border-radius: 4px;
            img {
                position: absolute;
                top: -15px;
                left: -26px;
            }
        }
        p {
            font-size: 12px;
            color: #fff;
            position: absolute;
            top: 164px;
            left: 50%;
            -webkit-transform: translate(-50%, 0%);
            -moz-transform: translate(-50%, 0%);
            -ms-transform: translate(-50%, 0%);
            -o-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
        }
        h1 {
            font-size: 22px;
            color: #fff;
            max-width: 200px;
            overflow: hidden;
            white-space: nowrap;
            position: absolute;
            top: 184px;
            left: 50%;
            -webkit-transform: translate(-50%, 0%);
            -moz-transform: translate(-50%, 0%);
            -ms-transform: translate(-50%, 0%);
            -o-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
        }
        .open-bag-can {
            width: 106px;
            height: 110px;
            white-space: nowrap;
            position: absolute;
            top: 260px;
            left: 50%;
            background: url("../images/hongbao/open.png");
            background-size: 106px 110px;
            -webkit-transform: translate(-50%, 0%);
            -moz-transform: translate(-50%, 0%);
            -ms-transform: translate(-50%, 0%);
            -o-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
        }
    }
}